body{
  background: url("https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png") center no-repeat fixed;
}

.search{
	width: 300px;
	margin: 30px auto 0;
	text-align: center;
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -150px;
}
li{
	list-style: none;
}
.search-list a{
	text-decoration: none;
}
.search-list p{
	color: black;
}

.search-list div{
	background: rgba(255, 255, 255, 0.5);
}

.search-list div:hover{
	background: #fff3d4;
}
#get-random-btn{
	margin: 20px 0;
}

.dropdown-menu{
	width: 300px;
}

/*----------------------------------------------------*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}